#RewriteEngine on
#RewriteCond $1 !^(index\.php)
#RewriteRule ^(.*)$ /codeigniter/index.php/$1 [L]
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /slavka2015/index.php?/$1 [L]
</IfModule>